<style>
  .message-content {

  }
</style>

<div class="message-content">
  <p>Olá {{name}},</p>
  <p>You've recently asked to reset the password for your GoBarber account.</p>
  <p>
    <a href="{{link}}">Reset Password</a>
  </p>
  <p>If it wasn't you who requested this, please disregard this email.</p>
  <p>Regards,</p>
  <p><strong>GoBarber Team</strong></p>
</div>
